/* GENERAL STYLING */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
}

* { 
    font-family: "Cabin", sans-serif;
    font-weight: lighter;
    color: rgb(16, 16, 16);

  }

.body {
    background: #FBF9EF;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;

}



.btn {
    padding: 0.6em 2em;
    color: #FBF9EF;
     background-color: #35452B;
     border-radius: 25px;
     font-weight: 700;

 }

/* FONT SIZE */


body,
button {
     font-size: 0.8rem
 }

.rating,
.cart-fine-print {
    font-size: 0.6rem;
}

@media (min-width: 750px) {

    body,
    button {
        font-size: 0.8rem
    }
    
    .socials-icon {
        font-size: 1rem
    }

    .rating,
    .cart-fine-print {
        font-size: 0.7rem;
    }

    .sort-btn {
        font-size: 0.6rem;

    }
   
}

@media (min-width: 1000px) {

    body,
    button {
        font-size: 1rem
    }
    
    .socials-icon {
        font-size: 1.2rem
    }
    
    .rating,
    .cart-fine-print {
        font-size: 0.8rem;
    }

    .sort-btn {
        font-size: 0.8rem;

    }
}

/* HEADER */

.name-logo {
    font-weight: 500;
}

.login-link,
.register-link {
    font-weight: 700;

}

.navigation-link:hover {
    color: #c6b190

}

.favorite-icon {
    filter: invert(50%) sepia(13%) saturate(1071%) hue-rotate(34deg) brightness(96%) contrast(88%);
    margin-right: 1em;
    margin-top: 0.2em;
    font-size: 1.1em;
}

.login {
    display: flex;
    align-items:center;
}

.favorite-icon {
    display: none
}

@media (max-width: 750px) {
    header {
        text-align: center;
        margin: 1.5em;
    }

    nav {
        width: 70%;
        margin: 2em auto;
        display: flex;
        justify-content: space-around;
    }

    
    .login {
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        background-color: #35452B;

    }

    .register-link,
    .login-link {
        color: #FBF9EF;
        background-color: #35452B;
        padding: 0.8em;
        width: 100%;

    }

}

@media (min-width: 750px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1.5em;
        padding: 1em;
    }

    nav {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .name-logo {
        font-weight: 500;
    }
    
    .navigation-link {
        margin-left: 1.5em;
    }
    
    
    .login-link {
        margin-right: 1em
    }
    
    .favorite-icon {
        display: inline-block;
        filter: invert(50%) sepia(13%) saturate(1071%) hue-rotate(34deg) brightness(96%) contrast(88%);
        margin-right: 1em;
        margin-top: 0.2em;
        font-size: 1.1em;
        }
    
}

/* FOOTER */

footer {
    margin: 1.5em;
    margin-bottom: 0;
    margin-top: 2em;
    text-align: center;

}

.name-logo-footer {
    font-weight: 500
}

.nav-footer {
    margin: 1em;
    margin-bottom: 1.5em;
    
}

.copyright-socials {
    display: flex;
    justify-content: space-between;
    margin: 1em;
    border-top: solid 1px #D9D9D9;
    padding: 1em;
    padding-top: 2em;
}

.navigation-link-footer {
    margin: 1em;
    
}

.socials-icon {
    font-size: 1.1rem;
    margin-left: 1em
}

@media (min-width: 750px) {
    .feature-cards {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
    }
}

/* HOME */

/* HOME HERO */

.hero {
    padding: 4em;
    text-align: center;
    margin-bottom: 1em;
}

.hero-nav {
    margin-top: 2.5em;
}

.hero-shop-now,
.hero-learn-more {
    margin: 1em
}

/* HOME FEATURES */

.features {
    background: #768350;
    padding: 3.5em;
}

.feature-heading {
    color: #FBF9EF;
    font-weight: 700;
    margin-bottom: 1em;
    text-align: center;
}

.feature-heading-explore {
    margin-bottom: 2em;
}

/* HOME EXPLORE */

.explore-collection {
    padding: 4.5em;
    text-align: center;
}

/* HOME FAQ */

.faq-container {
    padding: 4.5em;
    background: #c6b190; 
}

.faq-heading {
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.faq-question {
    font-weight: 700;
    margin: 1em 0
}

.faq-heading-text {
    width: 70%;
    margin-bottom: 2em;
}

@media(min-width: 750px) {
    .faq-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* CARD COMPONENT */

.card-container {
    background: #e9e7de;
    border-radius: 10px;
    padding: 2em;
    display: flex;
    margin: 1em;
}

.card-info {
    margin-left: 1em;
}

.card-title {
    font-weight: 500;
    margin-bottom: 1em
}

.card-icon {
    font-size: 1.4rem
}

/* SHOP LAYOUT */

.shop-page {
    min-height: 500px;
}

.top-pannel {
    padding: 1em 3em;
    padding-bottom: 0;
}

.products {
    display: grid;
    margin: 0 auto;
    grid-template:  1fr / 1fr ;
    width: 80%;
    grid-gap: 2em
    
}

@media (min-width: 450px) {

    .products {
        grid-template:  1fr 1fr / 1fr 1fr ;
    }
}

@media (max-width: 750px) {

    .products {
        margin: 0 auto;
}
}

@media (min-width: 750px) {

    .products {
        grid-template:  1fr 1fr 1fr / 1fr 1fr 1fr ;   
    }

    .product {
        width: 100%;
        height: 100%;
    }

    .filters-products {
        display: flex;
        padding: 3em
    }

    .filters {
        width: 20%;
    }

}

.cat-filter-btn {
    text-decoration: none;
    border: none;
    margin: 0.5em 0;
    padding: 0.7em 1em;
    display: flex;
    justify-content: flex-start;
    background-color: #768350;
    width: 80%;
    color: black;
    border-radius: 10px;
    color: #FBF9EF;
    
}

.active-cat-filter-btn {
    background: #35452B
}

.cat-filter-btn:hover {
    cursor: pointer;
    scale: 1.1
}


@media (max-width: 750px) {

    .category-filters-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1.5em;

    }

    .category-heading {
        margin-bottom: 0.5em
    }

    .cat-filter-btn {
        display: inline-block;
        width: 35%;
        margin: 0.5em;
    }
    
    .category-filters {
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: space-between;
    }
    
    .filters {
        margin: 0 auto;
    }
  
}

/* Product Card */


.product-card {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    -webkit-box-shadow: 0px 0px 3px -1px rgb(53, 69, 43);
    -moz-box-shadow: 0px 0px 3px -1px rgb(53, 69, 43);
    box-shadow: 0px 0px 3px -1px rgb(53, 69, 43);
    border-radius: 5px;
    position: relative;
}

.item-card-favorite {
    position: absolute;
    right: 15px;
    top: 15px
}

.item-card-add-btn {
    position: absolute;
    right: -15px;
    bottom: -25px;
    font-size: 2.4em;
    filter: invert(50%) sepia(13%) saturate(1071%) hue-rotate(34deg) brightness(96%) contrast(88%);

}

.item-card-add-btn:hover {
    cursor: pointer;
    font-size: 2.6em
}

.item-card-added-item-popup {
    position: absolute; 
    right: 25px;
    bottom: -10px;
    font-size: 0.7rem;
    background: #35452B;
    color: white;
    padding: 0.5em;
    border-radius: 20px;
    opacity: 90%;
}


.product-card:hover {
    -webkit-box-shadow: 0px 0px 4px -1px rgb(53, 69, 43);
    -moz-box-shadow: 0px 0px 4px -1px rgb(53, 69, 43);
    box-shadow: 0px 0px 4px -1px rgb(53, 69, 43);
}

.product-card-img {
    display: block;
    margin: 0 auto;
    object-fit: contain;
    width: 100px;
    height: 100px;
}

.product-card-link-container {
    width: 95%;
}

@media (min-width: 600px) {
    .product-card-img {
        width: 150px;
        height: 150px;
    }
}

.product-card-info {
    align-self: flex-start;
    margin-top: 1em;
    justify-self: flex-start;
}

.product-card-info > * {
    margin-top: 0.5em
}

.product-card-price {
    font-weight: 700
}

/* SORT */

.sort-container {
    margin: 0 auto;
    margin-left: auto; 
    margin-right: 0;
    width: 6em
}

.sort-heading {
    position: relative;
    margin-bottom: 0;
}

.sort-buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: left;
    left: auto; 
    right: 30px;
    margin: 0  
}

.sort-btn {
    display: block;
    width: 100%;
    text-align: left;
    border: none;
    background: #c6b190;
    margin-top: 0.2em;
    color: #FBF9EF;
    padding: 0.3em 0.7em;
    border-radius: 5px;
}

.sort-btn:hover {
    cursor: pointer;
    scale: 1.05
}

/* ITEM PAGE */

.item-page-container {
    margin: 0 auto;
    width: 80%;
    gap: 0;
    margin-top: 2em;
    margin-bottom: 5em
}

.item-page-img {
    display: block;
    margin: 0 auto;
    object-fit: contain;
    width: 200px;
    height: 200px;

}

.item-page-info {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 4em;
    width: 90%;
}

.item-page-title {
    margin-bottom: 0.5em;
    font-weight: 700

}

.item-page-price {
    margin: 1em 0;
    font-weight: 700

}

.item-page-description-div {
    margin-bottom: 1em;
}

.item-page-description-heading {
    font-weight: 700

}

.item-page-description {
    margin-top: 1em;
}

.item-page-back-btn {
    margin-left: 2.6em;
    color: rgb(16, 16, 16);

}

.item-page-back-btn:hover {
    color: #c6b190;

}

.cart-btn-container {
    display: flex;
    align-items: center;

}

.add-to-cart-btn {
    padding: 0.5em 1em;
    border-radius: 5px;
    border: none;
    background: #768350;
    color: white;
    
}

.add-to-cart-popup {
    position: absolute;
    margin-top: 0.5em;
    margin-left: 0.1em
}

.favorite-btn {
    filter: invert(50%) sepia(13%) saturate(1071%) hue-rotate(34deg) brightness(96%) contrast(88%);
    margin-left: 1em;
    font-size: 1.2em
}

.add-to-cart-btn:hover, 
.favorite-btn:hover {
    cursor: pointer;
}

.add-to-cart-btn:hover {
    scale: 1.02
}

.favorite-btn:hover {
    font-size: 1.3em
}
@media (min-width: 500px) {
    .item-page-img {
        display: block;
        margin: 0 auto;
        object-fit: contain;
        width: 300px;
        height: 300px;
    
    }
}

@media (min-width: 750px) {
    .item-page-container {
        display: grid;
        grid-template: 1fr / 1fr 1fr;
        margin: 0 auto;
        width: 80%;
        gap: 0;
        margin-top: 2em;
        margin-bottom: 5em
    }
    
    .item-page-info {
        max-width: 400px;
        margin-left: 1em;
        margin-top: 2em
    }

}

@media (min-width: 1000px) {
    
.item-page-img {
    display: block;
    margin: 0 auto;
    object-fit: contain;
    width: 400px;
    height: 400px;
    margin-left: 5em;

}
}

/* LOGIN PAGE */


.login-page-container {
    padding: 2.5em;
    padding-bottom: 5em;

}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-input,
.login-page-login-btn,
.register-page-register-btn {
    text-decoration: none;
    outline: none;
    border: none;
    padding: 0.6em;
    margin-top: 1em;
    width: 100%;
   
}

.login-input {
    border-bottom: 1px rgb(16, 16, 16) solid
}

.login-page-login-btn {
    background: #35452B;
    color: white;
    border: 1px #35452B solid
}

.login-page-login-btn:hover,
.register-page-register-btn:hover {
    cursor: pointer;
    scale: 1.01;
}

.register {
    margin-top: 2em;

}

.register-page-register-btn {
    background: #768350;
    color: white;
    border: 1px #768350 solid

}

.login-page-login {
    display: flex;
    flex-direction: column;
}

.wrong-login {
    color: rgb(205, 42, 42);
    margin-top: 1em;
}

@media (min-width: 750px) {
    .login-input,
    .login-page-login-btn,
    .register-page-register-btn {
    width: 30%;
    min-width: 300px;
    max-width: 400px
}
}

/* USER ACCOUNT */

.user-account-page {
    min-height: 500px;
}

.user-account-container {
    padding-left: 2.5em
}

.user-account-headings {
    margin-top: 1em;
}

.log-out-btn {
    background: #35452B;
    color: white;
    border: 1px #35452B solid;
    padding: 0.5em 3em;
    margin-top: 2em;
    border-radius: 25px
}

.log-out-btn:hover {
    scale: 1.05;
    cursor: pointer;
}

.user-info-container {
    margin-left: 1em;
}

.user-details {
    margin-top: 0.5em;
}

/* SLIDESHOW */

.slide-container {
    margin: 0 auto;
    margin-top: 4em;
    margin-bottom: 3em;
}

.slide-img {
    width: 150px;
    height: 200px;
    object-fit: contain;
    margin: 0 auto;

}

.slide-img:hover {
    scale: 1.02
}

@media (min-width: 600px) {
    
.slide-img {
    width: 200px;
    height: 300px;

}
}

/* CART CONTAINER */

.cart-container {
    margin: 3em auto;
    width: 70%;
    max-width: 1100px;
}

.cart-left-container {
    margin: 0 auto;
}

.cart-right-container {
    margin: 0 auto;
    background: #768350;
    padding: 2em;
    border-radius: 5px;
    margin-top: 2em;
}

.cart-heading,
.cart-subheading {
    margin-bottom: 1em;
}

.checkout-btn {
    text-decoration: none;
    border: none;
    text-align: center;
    width: 100%;
    padding: 0.8em;
    border-radius: 5px;
}

.checkout-btn:hover {
    cursor: pointer;
    scale: 1.02
}

.cart-login-link {
    color: #35452B
}
.cart-login-link:hover {
    color: #768350
}

.cart-total {
    margin-bottom: 1em;
    padding-top: 1em;
    font-weight: 700;
    border-top: solid white 1px;
    color: white
}

.cart-fine-print {
    color: rgba(255, 255, 255, 0.667);
    margin-bottom: 1em;

}

.accepted-cards {
    color: white;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.cart-icon {
    font-size: 1.5em;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(104%);
    margin-bottom: 1em;
}

.cart-icon-first {
    margin-left: 0
}

.cart-item {
    -webkit-box-shadow: 0px 0px 3px -1px rgb(53, 69, 43);
    -moz-box-shadow: 0px 0px 3px -1px rgb(53, 69, 43);
    box-shadow: 0px 0px 3px -1px rgb(53, 69, 43);
    padding: 1em;
}

.cart-product-heading:hover {
    color: #768350
}

.cart-img {
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
}

.cart-item {
    display: flex;
    margin-bottom: 2em;
    align-items: center;
}

.cart-product-text {
    margin-top: 0.5em;
}

.cart-product-info {
    margin-left: 1em;
}

.remove-item {
    border: none;
    background: inherit;
    cursor: pointer;
    color: rgb(199, 92, 92);
    margin-top: 0.5em
}

.cart-price-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

@media (min-width: 750px) {
    .cart-container {
        display: flex;
        width: 80%;
        align-items: flex-start;
    }

    .cart-left-container {
        width: 60%;
        margin-right: 1em
    }

    .cart-item {
        width: 80%;
        min-width: 320px;

    }

    .cart-img {
        min-width: 150px;
        min-height: 150px;
        max-width: 150px;
        max-height: 150px;
        object-fit: contain;
    }

    .cart-right-container {
        width: 50%;
        min-width: 250px;
        max-width: 400px;
        margin-top: 0
    }
}

/* FAVORITES PAGE */

.favorites-container {
    width: 80%;
    margin: 0 auto;
    min-height: 500px;
}

.favorite-products {
    display: grid;
    margin: 0 auto;
    grid-template:  1fr / 1fr ;
    grid-gap: 2em
    
}

.favorites-heading {
    margin-bottom: 1em;
}

.favorites-login {
    color: #768350

}

.favorites-login:hover {
    color: #c6b190
}

@media (min-width: 500px) {

    .favorite-products {
        grid-template:  1fr 1fr / 1fr 1fr ;   
    }
}

@media (min-width: 750px) {

    .favorite-products {
        grid-template:  1fr 1fr 1fr / 1fr 1fr 1fr ;   
    }
}

/* SIGNUP PAGE */

.signup-page-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 2em;
}

@media (min-width: 750px) {
    .signup-page-container {
        margin-top: 1em;
        margin-left: 4em;
    }
}

/* CONTACT PAGE */

.contact-page {
    width: 80%;
    margin: 0 auto;
    min-height: 450px;
}

.contact-form {
    display: flex;
    flex-direction: column
}
.contact-input,
.contact-message,
.contact-btn {
    text-decoration: none;
    outline: none;
    border: none;
    padding: 0.6em;
    margin-top: 1em;
    width: 100%;
    border: 1px solid black;
    width: 100%;
    
    
}

.contact-btn {
    color: #FBF9EF;
    background-color: #35452B;
    border: 1px solid #35452B;

}

.contact-btn:hover {
    cursor: pointer;
    scale: 1.01
}
.contact-message {
    resize: none;
    min-height: 200px
}

.submit-message {
    margin-top: 1em;
}

@media (min-width: 750px) {
    .contact-input,
    .contact-textarea,
    .contact-btn,
    .contact-message  {
    width: 40%;
    min-width: 300px;
    max-width: 400px
}
}

/* ABOUT PAGE */

.about-page {
    text-align: center;
    margin-bottom: 5em
}


.about-img {
    width: 40%;
    max-height: 500px;
    object-fit: cover;
    
}

.about-heading {
    margin: 1em auto;
    color: #35452B;
    font-weight: bold;
}

@media (max-width: 750px) {
    .about-text {
        margin: 2em auto;
        max-width: 45%;
    }
}

@media (min-width:750px) {
    .text-img-container {
        display: flex;
        width: 80%;
        margin: 0 auto;
        object-fit: contain;
        align-items: center;
        justify-content: space-between;
    }

    .about-text {
        width: 40%
    }

    .about-heading {
        margin: 2em auto
    }
}