/* GENERAL STYLING */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
}

* {
    font-family: "Cabin", sans-serif;
    font-weight: lighter;
    color: rgb(16, 16, 16);

  }

.body {
    background: #FBF9EF;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;

}

.btn {
    padding: 0.6em 2em;
    color: #FBF9EF;
     background-color: #35452B;
     border-radius: 25px;
     font-weight: 700;

 }

/* FONT SIZE */


body,
button {
     font-size: 0.8rem
 }

.rating {
    font-size: 0.6rem;
}

@media (min-width: 750px) {

    body,
    button {
        font-size: 0.8rem
    }
    
    .socials-icon {
        font-size: 1rem
    }

    .rating {
        font-size: 0.7rem;
    }
   
}

@media (min-width: 1000px) {

    body,
    button {
        font-size: 1rem
    }
    
    .socials-icon {
        font-size: 1.2rem
    }
    
    .rating {
        font-size: 0.8rem;
    }
}

/* HEADER */

.name-logo {
    font-weight: 500;
}

.login-link,
.register-link {
    font-weight: 700;

}

@media (max-width: 750px) {
    header {
        text-align: center;
        margin: 1.5em;
    }

    nav {
        width: 70%;
        margin: 2em auto;
        display: flex;
        justify-content: space-around;
    }

    
    .login {
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        background-color: #35452B;

    }

    .register-link,
    .login-link {
        color: #FBF9EF;
        background-color: #35452B;
        padding: 0.8em;
        width: 100%;

    }
}

@media (min-width: 750px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1.5em;
        padding: 1em;
    }
    
    .name-logo {
        font-weight: 500;
    }
    
    .navigation-link {
        margin-left: 1.5em;
    }
    
    
    .login-link {
        margin-right: 1em
    }
   
}

/* FOOTER */

footer {
    margin: 1.5em;
    margin-bottom: 0;
    margin-top: 2em;
    text-align: center;
}

.name-logo-footer {
    font-weight: 500
}

.nav-footer {
    margin: 1em;
    margin-bottom: 1.5em
}

.copyright-socials {
    display: flex;
    justify-content: space-between;
    margin: 1em;
    border-top: solid 1px #D9D9D9;
    padding: 1em;
    padding-top: 2em;
}

.navigation-link-footer {
    margin: 1em;
}

.socials-icon {
    font-size: 1.1rem;
    margin-left: 1em
}

@media (min-width: 750px) {
    .feature-cards {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
    }
}

/* HOME */


.hero {
    padding: 4em;
    text-align: center;
    margin-bottom: 1em;
}

.hero-nav {
    margin-top: 2.5em;
}

.hero-shop-now,
.hero-learn-more {
    margin: 1em
}

.features {
    background: #768350;
    padding: 3.5em;
}

.feature-heading {
    color: #FBF9EF;
    font-weight: 700;
    margin-bottom: 1em;
    text-align: center;
}

.feature-heading-explore {
    margin-bottom: 2em;
}

.explore-collection {
    padding: 4.5em;
    text-align: center;
}

.faq-container {
    padding: 4.5em;
    background: #c6b190; 
}

.faq-heading {
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.faq-question {
    font-weight: 700;
    margin: 1em 0
}

.faq-heading-text {
    width: 70%;
    margin-bottom: 2em;
}

@media(min-width: 750px) {
    .faq-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* CARD COMPONENT */

.card-container {
    background: #e9e7de;
    border-radius: 10px;
    padding: 2em;
    display: flex;
    margin: 1em;
}

.card-info {
    margin-left: 1em;
}

.card-title {
    font-weight: 500;
    margin-bottom: 1em
}

.card-icon {
    font-size: 1.4rem
}

/* SHOP */

.top-pannel {
    padding: 1em 3em
}

.products {
   
        display: grid;
        margin: 0 auto;
        grid-template:  1fr / 1fr ;
        width: 80%;
        grid-gap: 2em
    
    
}

@media (min-width: 450px) {
    .products {
        grid-template:  1fr 1fr / 1fr 1fr ;
        
    
    }
}

@media (max-width: 750px) {

    .filters {
        text-align: center;
        margin-bottom: 1em;
    }
    .products {
        margin: 0 auto;
    
}

}

@media (min-width: 750px) {
    .products {
        grid-template:  1fr 1fr 1fr / 1fr 1fr 1fr ;
    
    }

    .product {
        width: 100%;
        height: 100%;
    }

    .filters-products {
        display: flex;
        padding: 3em
    }

    .filters {
        width: 20%;
    }

}



.filter-btn {
    text-decoration: none;
    border: none;
    margin: 0.5em 0;
    padding: 0.7em 1em;
    display: flex;
    justify-content: flex-start;
    background-color: #768350;
    width: 80%;
    color: black;
    border-radius: 10px;
    color: #FBF9EF;
    
}

.active-filter-btn {
    background: #35452B
}

.filter-btn:hover {
    cursor: pointer;
}

@media (max-width: 750px) {
    .category-heading {
        margin-bottom: 0.5em
    }

    .filter-btn {
        display: inline-block
    }
    
    .category-filters {
        display: flex;
        text-align: center;
        justify-content: space-between
    }
    
    .filter-btn {
        width: 35%;
        margin: 0.5em
    }

}

/* Product Card */


.product-card {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    -webkit-box-shadow: 0px 0px 8px -1px rgba(96, 96, 96, 0.659);
    -moz-box-shadow: 0px 0px 8px -1px rgba(96, 96, 96, 0.659);
    box-shadow: 0px 0px 8px -1px rgba(96, 96, 96, 0.659);
    border-radius: 5px;
}

.product-card-img {
    display: block;
    margin: 0 auto;
    object-fit: contain;
    width: 100px;
    height: 100px;
}

@media (min-width: 600px) {
    .product-card-img {
        width: 150px;
        height: 150px;
    }
}

.product-card-info {
    align-self: flex-start;
}

.product-card-info > * {
    margin-top: 0.5em
}

.product-card-price {
    font-weight: 700
}

